passlib
faiss-cpu
sentence-transformers
openai
fastapi
uvicorn
python-dotenv
PyPDF2
langchain
pydantic
requests
beautifulsoup4
nltk
SpeechRecognition
gTTS
tiktoken
python-jose[cryptography]
pdfminer.six
pymupdf
spacy==3.8.6
python-docx
openpyxl
psycopg2-binary
jwt
python-multipart
email-validator
bcrypt
psutil
boto3
pgvector